<html>
<head>
  <title>ChartKick</title>	      
	<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
</head>

    <h1>Posts by Time</h1>
    <%= line_chart Micropost.where(:user_id => current_user.id).group(:created_at).count %>

</html>